@import 'settings';
@import '../bower_components/foundation-sites/scss/foundation';


footer{
	height: 10rem;
}

.top-bar-left {
	
	ul.menu li {
		width: 10rem;
	}
	li.has-submenu {
		/*border: thin solid black;*/
		position: relative;
		ul.nested {
			display: none;
		}
	}
	li:hover {
		background-color: gray;
		> a {
			color: #a1ffff;
		}
	}
	/*li.menu-text:hover {
		color: #ddd;
	}*/
	li.disabled {
		color: #bbb;
	}
	li.disabled:hover {
		color: #666;
	}
	li.has-submenu:hover > ul.nested {
		font-size: .75rem;
		display: block;
		position: absolute;
		top: .98rem;
		left: 4rem;
		z-index: 1000;
		border: thin solid #ccc;
	}
	ul.nested:hover {
		display: block;
		z-index: 1000;
	}
	section.artwork:nth-of-type(2n) {
		background-color:linen;
	}
}	
section.artwork {
	padding: 1rem 0;
	
	div.row {
		padding: 0;
	}
	
	p {
		line-height: normal;
		margin: 0;
		padding: 0;
	}
	
	img {
		/*margin-top: 0.8em;*/
	}
	
	@media only screen and (min-width: 40.063em) {
/*		h1, h2, h3, h4, h5, h6 {
			line-height: 1.4;
		}*/

		h2 {
			font-size: 1.5rem;
			margin: 1rem 0 0;
		}
		
		h1 {
			margin-bottom: 0;
		}
	}
	
}
.column, .columns {
	padding-left: 0;
}

img {
	width: 100%;
}

section.format {
	@include grid-row;
	padding-top: 1em;
}


form {
	legend {
		background: #ccc none repeat scroll 0 0;
		color: #7a7a7a;
		padding-left: 0.3rem;
		width: 100%;
	}
	img {
		width: 30%;
	}
}
