ul.menu li {
	width: 10rem;
}
li.has-submenu {
	border: thin solid black;
	position: relative;
	ul.nested {
		display: none;
	}
}
li.has-submenu:hover > ul.nested {
	display: block;
	position: absolute;
	top: .25rem;
	left: 7rem;
	z-index: 1000;
}
ul.nested:hover {
	display: block;
	z-index: 1000;
}
