@import 'settings';
@import '../bower_components/foundation-sites/scss/foundation';


footer{
	height: 10rem;
}

.top-bar-left {
	
	ul.menu li {
		width: 10rem;
	}
	li.has-submenu {
		/*border: thin solid black;*/
		position: relative;
		ul.nested {
			display: none;
		}
	}
	li:hover {
		background-color: gray;
		> a {
			color: #a1ffff;
		}
	}
	/*li.menu-text:hover {
		color: #ddd;
	}*/
	li.disabled {
		color: #bbb;
	}
	li.disabled:hover {
		color: #666;
	}
	li.has-submenu:hover > ul.nested {
		font-size: .75rem;
		display: block;
		position: absolute;
		top: .98rem;
		left: 4rem;
		z-index: 1000;
		border: thin solid #ccc;
	}
	ul.nested:hover {
		display: block;
		z-index: 1000;
	}
	section.artwork:nth-of-type(2n) {
		background-color:linen;
	}
}	

div.artworks {
	
	section.artwork {
		@include grid-row;
		
		div.image {
/*			$small: 6; //6
			$medium: 3;
			$large: 3;*/
			@include column-with-end(6, 3);
		}
		div.text {
			
		}
		div.editions {
			
		}
	}
}

div.editions {
	
	section.edition {
		@include grid-row;
		
		div.text {
			
		}
		div.pieces {
			
		}
		div.formats {
			
		}
	}
}

div.formats {
	
	section.format {
		@include grid-row;
	
		div.image {

		}
		div.text {

		}
		div.pieces {

		}
	}
}



section.format {
	@include grid-row;
	padding-top: 1em;
}

section.assignment, section.disposition, p.policy_statement {
	padding-top: .8em;
	font-size: 90%;
	color: #444;
}


form {
	legend {
		background: #ccc none repeat scroll 0 0;
		color: #7a7a7a;
		padding-left: 0.3rem;
		width: 100%;
	}
	img {
		width: 30%;
	}
	
	.form-error, .error-message {
		color: #ec5840;
		display: block;
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: 1rem;
		margin-top: 0;
	}
}

span.nav {
	font-size: .9rem;
}

div.radio > label {
	
	.disabled {
		color: #ccc;
	}
	
	input {
		margin: .5rem;

		.disabled {
			color: #ccc;
		}
		
	}
}

.disabled  {
	color: #ccc;
}

@mixin column-with-end($small, $medium, $large) {
	
}
